*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: Nunito-Bold;
    src: url('../fonts/Nunito-Bold.ttf');
}

@font-face {
    font-family: Nunito-ExtraBold;
    src: url('../fonts/Nunito-ExtraBold.ttf');
}

body{
    font-family: Nunito;
    background-color: #ebebeb;
}

canvas{
    letter-spacing: 2px;
    background-color: greenyellow;
    position: absolute;
    top: 30px;
    left: calc(50% - 496px);
}

